.title{
    margin-bottom: 10px;
    text-align: center;
    width: 210px;
    color: rgb(165, 108, 42);
    border: 2px ssolid black;
}
input[type="button"]{
    background-color: black;
    color: aliceblue;
    border: 2px solid black;
    width: 100%;
}
input[type="text"]{
    background-color: white;
    border: 2px solid black;
    width: 100%;
}